<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>

<a class="header" href="home">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

{% if user_email %}
<p>Account balance: ${{ balance }}</p>
<a class="buttons" href="vieworders"><h2>View My Orders</h2></a>
<a class="buttons" href="loadfunds"><h2>Load Funds</h2></a>
<a class="buttons" href="redeemgift"><h2>Redeem A Gift Card</h2></a>
<a class="buttons" href="home"><h2>Back</h2></a>
<p>Logged in as {{ user_email }}</p>
{% endif %}

</body>
</html>
