<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/ajaxhelper.js"></script>
<script>
function handleSubmit() {
	var code = document.getElementById("codeTxt").value;
	var amount = document.getElementById("amountTxt").value;
	var result = document.getElementById("result");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			//var returnObj = JSON.parse(xmlHttp.responseText);
			result.innerHTML = xmlHttp.responseText;
		} else {
			// response not ready
			result.innerHTML = "Processing...";
		}
	}
	postParameters(xmlHttp, "/admin_gen_gift?code=" + code.replace(/\s+/g, '') + "&amount=" + amount, "");
}
</script>
<body>

<a class="header" href="home">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

{% if user_email %}

<div id="listGifts" style="text-align: center">
<p>Gift Cards:</p>
<h2>
{% for giftCert in giftCerts %}
${{ giftCert.balance }} "{{ giftCert.giftCode}}" {{ giftCert.usedBy}} <a href="admin_del_gift?code={{ giftCert.giftCode }}">Delete</a><br>
{% endfor %}
</h2>
</div>



<div id="generateGift" style="text-align: center">
<p>Generate Gift Code:</p>
<input id="codeTxt" type="text" value="" style="height: 45px; font-size: 35;">
<p>Amount:</p>
<input id="amountTxt" type="text" value="" style="height: 45px; font-size: 35;"> <p>     </p>
<input type="submit" value="Generate" onclick="handleSubmit();">
<h2><div id="result"></div></h2>
</div>
</form>

<p>Logged in as {{ user_email }}</p>
{% endif %}

</body>
</html>
