<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/ajaxhelper.js"></script>
<script>
function getAllGifts() {
	var result = document.getElementById("giftResults");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			// reload gifts panel
			result.innerHTML = xmlHttp.responseText;
		} else {
			// response not ready
			result.innerHTML = "";
		}
	}
	postParameters(xmlHttp, "/admin_get_gifts", "");
}

function handleSubmit() {
	var code = document.getElementById("codeTxt").value;
	var amount = document.getElementById("amountTxt").value;
	var result = document.getElementById("result");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			//var returnObj = JSON.parse(xmlHttp.responseText);
			result.innerHTML = xmlHttp.responseText;
			setTimeout(getAllGifts, 1000);
		} else {
			// response not ready
			result.innerHTML = "Processing...";
		}
	}
	postParameters(xmlHttp, "/admin_gen_gift?code=" + code.replace(/\s+/g, '') + "&amount=" + amount, "");
}

function handleDelete(code) {
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			// reload gifts panel
			setTimeout(getAllGifts, 1000);
		} else {
			// response not ready
			//result.innerHTML = "Processing...";
		}
	}
	postParameters(xmlHttp, "/admin_del_gift?code=" + code.replace(/\s+/g, ''), "");
}
</script>
<body onload="getAllGifts();">

<a class="header" href="home">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

<div id="listGifts" style="text-align: center">
<p>Manage Gift Cards</p>
<h2 id="giftResults">
</h2>
</div>

<div id="generateGift" style="text-align: center">
<p>Generate Gift Code</p>
<input id="codeTxt" type="text" value="" style="height: 45px; font-size: 35;">
<p>Amount</p>
<input id="amountTxt" type="text" value="" style="height: 45px; font-size: 35;"> <p>     </p>
<input type="submit" value="Generate" onclick="handleSubmit();">
<h2><div id="result"></div></h2>
</div>

<p>Logged in as {{ user_email }}</p>

</body>
</html>
