<html>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<script src="/static/ajaxhelper.js"></script>
<script>
	function getOrdersTable() {
		var result = document.getElementById("orderTable");
		var xmlHttp = createXmlHttp();
		xmlHttp.onreadystatechange=function() {
			if (xmlHttp.readyState == 4) {
				clearInputFields();
				result.innerHTML = xmlHttp.responseText;
			} else {
				// response not ready
				result.innerHTML = "";
			}
		}
		postParameters(xmlHttp, "/admin/get_orders_table", "");
	}

	function changeOrderStatus(id, status) {
		var xmlHttp = createXmlHttp();
		xmlHttp.onreadystatechange=function() {
			if (xmlHttp.readyState == 4) {
				//var returnObj = JSON.parse(xmlHttp.responseText);
				//result.innerHTML = xmlHttp.responseText;
				setTimeout(getOrdersTable, 1000);
			} else {
				// response not ready
				//result.innerHTML = "Processing...";
			}
		}
		postParameters(xmlHttp, '/admin/set_order_status', JSON.stringify({'id':id, 'status':status}));
	}

	function handleSubmit() {
		var orderedBy = document.getElementById("orderedBy").value;
		var itemsOrdered = document.getElementById("itemsOrdered").value;
		var totalPaid = document.getElementById("totalPaid").value;
		var deliveryAddress = document.getElementById("deliveryAddress").value;
		var xmlHttp = createXmlHttp();
		xmlHttp.onreadystatechange=function() {
			if (xmlHttp.readyState == 4) {
				//var returnObj = JSON.parse(xmlHttp.responseText);
				//result.innerHTML = xmlHttp.responseText;
				setTimeout(getOrdersTable, 1000);
			} else {
				// response not ready
				//result.innerHTML = "Processing...";
			}
		}
		postParameters(xmlHttp, "/admin/place_order", JSON.stringify({'items':itemsOrdered, 'priceSum':totalPaid, 'address':deliveryAddress, 'orderedBy':orderedBy}));
	}

	function clearInputFields() {
		document.getElementById("orderedBy").value = "";
		document.getElementById("itemsOrdered").value = "";
		document.getElementById("totalPaid").value = "";
		document.getElementById("deliveryAddress").value = "";
	}
	
	function MM_openBrWindow(theURL,winName,features) { //v2.0
		window.open(theURL,'Order Details','scrollbars=yes,width=400,height=520');
	}
</script>
	
<body onload="getOrdersTable();">
	<a class="header" href="/home">
		<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
	</a>

	<p>Manage Active Orders<br></p>
	<div id="orderTable" style="text-align: center">
	<!-- table is rendered by AJAX  -->
	</div>

	<div id="createOrder" style="text-align: center">
	<h2>
	<p>Create An Order Manually</p>
	Ordered By<br>
	<input id="orderedBy" type="text" value="" style="height: 45px; font-size: 35;"><br>
	Items Ordered<br>
	<input id="itemsOrdered" type="text" value="" style="height: 45px; font-size: 35;"><br>
	Total Paid<br>
	<input id="totalPaid" type="text" value="" style="height: 45px; font-size: 35;"><br>
	Delivery Address<br>
	<input id="deliveryAddress" type="text" value="" style="height: 45px; font-size: 35;"><br>
	<br><input type="submit" value="Place Order" onclick="handleSubmit();">
	</h2>
	</div>
	<a class="buttons" href="/admin/managedeliverers"><h2>Manage Delivery Boys</h2></a>
	<a class="buttons" href="/admin/adminpanel"><h2>Back</h2></a>
	<p>Logged in as {{ user_email }}</p>
</body>
</html>
