<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<body bgcolor = "#002d62">

<a class="header" href="/">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

<p>Welcome to the "Unofficial" University of Pittsburgh Beer Delivery Service. <br>
We are here to bring you whatever brew you are feeling tonight!<br><br></p>

<a class="buttons" href="order"><h2>Order</h2></a>
<a class="buttons" href="beer"><h2>See Available Beers</h2></a>
<a class="buttons" href="account"><h2>My Account</h2></a>


</body>
</html>
