<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<body bgcolor = "#002d62">

<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>

<p>Hi! Welcome to the "Unofficial" University of Pittsburgh Beer Delivery Service. <br>
We are here to bring you whatever brew you are feeling tonight.<br><br></p>

<h2><a href="order">Order</h2>
<h3><a href="beer">See Available Beers</h3>
<h4><a href="account">My Account</h4>


</body>
</html>
