<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>

<a class="header" href="home">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

{% if user_email %}
<p>Account balance: ${{ balance }}</p>

<form method="post" enctype="multipart/form-data" action="{{loadfunds_process_url}}" style="text-align: center">
<p>Enter amount</p>

<input name="amount" type="text" value="0" style="height:45px;font-size:30;text-align:center;">
<br>
<br>
<input type="submit" value="Proceed to payment">
</form>
<a class="buttons" href="home"><h2>Back</h2></a>
<p>Logged in as {{ user_email }}</p>
{% endif %}

</body>
</html>
