<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<head>
<meta http-equiv="refresh" content="2;url=/home">
</head>
<body>

{% if complete %}
<p>Your order has been completed! You will be redirected to the home page</p>
{% else %}
	{% if insufficient %}
	<p>You do not have enough funds to complete this order! You will be redirected to the home page</p>
	{% else %}
	<p>You have no items in your shopping cart! Please add some before proceeding</p>
	{% endif %}
{% endif %}

</body>
</html>
