<html>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/ajaxhelper.js"></script>
<script>
function getOrdersTable() {
	var result = document.getElementById("myOrdersTable");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			result.innerHTML = xmlHttp.responseText;
		} else {
			// response not ready
			result.innerHTML = "";
		}
	}
	postParameters(xmlHttp, "/get_my_orders_table", "");
}

function handleCancel(orderId) {
	var result = document.getElementById("myOrdersTable");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			//result.innerHTML = xmlHttp.responseText;
			setTimeout(getOrdersTable, 1000);
		} else {
			// response not ready
			//result.innerHTML = "";
		}
	}
	postParameters(xmlHttp, "/cancel_my_order", JSON.stringify({'id':orderId}));
}
</script>
<body onload="getOrdersTable();">

<a class="header" href="home">
	<h1>university of pittsburgh <br> beer delivery<img src="/static/cathedal.png" alt="Picture of Cathedral" style="width:90px;height:90px;"></h1>
</a>

<p>My Orders<br></p>

<div id="myOrdersTable">
<!-- Filled by AJAX -->
</div>

<p>Logged in as {{ user_email }}</p>

</body>
</html>
