<table id="tblBeers" class="table" cellspacing="0" width="100%" align="center">
	<thead>
		<tr>
			<th>Status</th>
			<th>Items Ordered</th>
			<th>Total Paid</th>
			<th>Delivery Address</th>
			<th>Transaction ID</th>
			<th>Order Placed</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td>{{ order.status }}</td>
			<td>{{ order.items }}</td>
			<td>${{ order.priceSum }}</td>
			<td>{{ order.address }}</td>
			<td>{{ order.key.id }}</td>
			<td>{{ order.timePlaced }}</td>
			<td>
			{% if order.status == "Verifying" %}
				<input type="submit" value="Cancel" onclick="handleCancel({{ order.key.id }});">
			{% else %}
				
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
<table>
