<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/bootstraptheme/css/bootstrap.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/bootstraptheme/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/bootstraptheme/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/bootstraptheme/css/creative.css" type="text/css">

    <style type="text/css">
	#tblMyBeers {
		border-collapse: collapse;
		color: #beac70;
		font-size:1.2em;
		margin:0 auto;
		min-width: 90%;
	}
	#tblMyBeers th {
		padding: 5px;
	}
	#tblMyBeers tr {
		background: none;
	}
	#tblMyBeers tr:nth-child(even) {
		background: rgba(0,0,0,0.5);
	}
	#tblMyBeers tr:nth-child(odd) {
		background: rgba(0,0,0,0.1);
	}
	#tblMyBeers tr:first-child th {
		background-color: #beac70;
		color: #192857;
	}
	#tblMyBeers tr:first-child:hover th {
		background-color: #beac70;
	}
	#tblMyBeers tr:first-child a {
		color: black;
	}
	#tblMyBeers tr:hover {
		background-color: rgba(0,0,0,0.2);
	}
	#tblMyBeers td {
		font-variant: small-caps;
	}
	#tblMyBeers td {
		padding: 5px 10px;
		text-align: center;
		white-space: pre;
	}
	#tblMyBeers td:nth-child(7) {
		white-space: nowrap;
	}
</style>
<script src="/static/ajaxhelper.js"></script>
<script>
function getOrdersTable() {
	var result = document.getElementById("myOrdersTable");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			result.innerHTML = xmlHttp.responseText;
		} else {
			// response not ready
			result.innerHTML = "";
		}
	}
	postParameters(xmlHttp, "/get_my_orders_table", "");
}

function handleCancel(orderId) {
	var result = document.getElementById("myOrdersTable");
	var xmlHttp = createXmlHttp();
	xmlHttp.onreadystatechange=function() {
		if (xmlHttp.readyState == 4) {
			//result.innerHTML = xmlHttp.responseText;
			setTimeout(getOrdersTable, 1000);
		} else {
			// response not ready
			//result.innerHTML = "";
		}
	}
	postParameters(xmlHttp, "/cancel_my_order", JSON.stringify({'id':orderId}));
}
</script>


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="home">PITTBEER.COM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="beer">Beers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="order">Cart</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="account">Account</a>
                    </li>

                    {% if user_is_admin %}
                    <li> 
					<a class="page-scroll" href="admin/adminpanel">Admin Panel</a>
					</li>
					{% endif %}

                    <li>
                    	{% if user_email %}
                    		<a class="page-scroll" href="{{ logout_url }}">{{ user_email }}</a>
                    	{% else %}
 	                       	<a class="page-scroll" href="{{ login_url }}">Sign In</a>
 	                    {% endif %} 
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
			<h1>My Orders<br></h1>
				<div id="myOrdersTable">
					<!-- Filled by AJAX -->
				</div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="/static/bootstraptheme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstraptheme/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/bootstraptheme/js/jquery.easing.min.js"></script>
    <script src="/static/bootstraptheme/js/jquery.fittext.js"></script>
    <script src="/static/bootstraptheme/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/bootstraptheme/js/creative.js"></script>

</body>

</html>